@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");

:root {
  --font-color-dark: #faf9f6;
  --mild-white: #f0f5fe;
  --mild-black: #2b2d31;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  overflow-x: hidden;
  color: var(--mild-white);
  background-color: var(--mild-black);
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}

a {
  color: var(--font-color-dark);
  text-decoration: none;
}

.hidden {
  display: none;
}

.logo-name {
  font-family: "Zen Dots", cursive;
  user-select: none;
}


/* Side Bar */
#side-bar {
  display: inline-block;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 11rem;
  height: 88vh;
  margin: 12vh 0 0 2rem;
  padding-right: 2vw;
  border-right: 2px solid #222021;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#side-bar h6 {
  font-size: 2.6rem;
  text-align: center;
  margin-top: 3rem;
  border-bottom: 2px solid white;
}

#side-bar ul {
  height: 88vh;
}

#side-bar li {
  margin-bottom: 4rem;
}

#side-bar li:last-child {
  margin: 0;
}

#side-bar a {
  min-width: 10%;
  color: var(--mild-white);
  font-size: 1.6rem;
  background-color: #222021;
  padding: 0.4rem 1rem;
  border-radius: 14px;
  position: relative;
  bottom: 0;
  box-shadow: none;
  transition: all 0.15s ease-in-out;
}

#side-bar a:hover {
  bottom: 2px;
  box-shadow: 0px 2px 2px black;
}

/* Exercises */
.part-wrapper {
  width: auto;
  height: 88vh;
  margin: 12vh 0 0 17.5rem;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-evenly;
}

.part {
  margin: 0 0 12vh 0;
  width: 100%;
}

.part h1 {
  font-size: 2.4rem;
  margin-bottom: 0.6rem;
}

.part-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 24vw 24vw;
}

.exercise {
  position: relative;
}

.exercise img {
  position: absolute;
  top: 0;
  width: 20vw;
  z-index: -1;
  border-radius: 8px;
}

.exercise h4 {
  width: 20vw;
  color: var(--mild-black);
  font-size: 1.4rem;
  backdrop-filter: blur(5px);
  border-radius: 0 0 8px 8px;
  text-align: center;
  margin-top: 18vw;
}
